<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="static\style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">      
      <div class="mt-3 mb-3 text-center">{% block header %}{% endblock %}</div>
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="app" class="text-center">{% block app %}{% endblock %}</div>
      
  </div>
  <div id="footer" class="text-center">
    {%block footer %}
    <p> © Copyrights <b>Automated Playlist Migrator </b> | All Rights Reserved </p>
    for any queries <a href="mailto:automatedplaylistmigrator@gmail.com">email us</a> write your opinion to Developers at <a href="mailto:20.522nandithachowdhary@gmail.com">email</a><br>
    {%endblock %}
  </div>
  <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </body>
</html>